ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 50rem;
}

button {
  border-style: none;
  background-color: white;
}

.selected {
  display: flex;
  justify-content: space-around;
  margin-top: 0.3rem;
}
