/*
Variables colors for import
**/
$white-color-primary: #ffffff;

/* 
root variables color
**/
:root{
--white-color-root: #ffffff;
--black-color-root: #000000;
--light-grey-color-root: #CAC8C8;
--grey-color-root: #888888;
--dark-grey-color-root: #848282;
--hard-grey-color-root: #2F2F2F;
--dark-silver-color-root: #C5C5C5;
--silver-color-root: #D2D2D2;
--light-silver-color-root: #FBFBFB;
--dark-charcoal-color-root: #323131;
--dull-red-color-root: #FF4A4A;
}