button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    width: 2.75rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #1d1d1d66;
    backdrop-filter: blur(5px); 

    &:hover {
        background-color: var(--dark-charcoal-color-root);
    }

    img {
        width: 1.375rem;
        width: 1.375rem,;

    }
}
